* {
    text-align: center;

    background-color: darkgray;
    color: white;
}

h1 {
    margin-bottom: 1vh;
}

textarea {
    text-align: left;
}

code {    
    background-color: gray;
    padding: .2%;
    border: none;
    
    background: none;
}
